{% extends "base.twig" %}

{% block content %}
<header><h1>{{'Sobre'|trans}}</h1></header>
<h2>{{'LaborAutonomo.org é...'|trans}}</h2>
<p>
    {{'um espaço laboratorial para desenvolvimento de aplicações e websites, utilizando linguagens como:'|trans}} 
    <a href="http://php.net" target='_blank'>PHP</a>, 
    <a href="{{'http://python.org.br'|trans}}" target='_blank'>Python</a>,
    JavaScript,  
    HTML(5), 
    CSS(3), ...
</p>

<h2>{{'Disponibilizamos o código-fonte...'|trans}}</h2>
<p>
    {{'dos projetos não só para cópia, uso e distribuição, mas também e, principalmente, críticas e sugestões.'|trans}}
</p>
<p>
    <a class='ico github' href='http://github.com/laborautonomo' target='_blank' title='Fork me on GitHub!'>GitHub</a>
    <a class='ico mail' href='mailto:fabio@laborautonomo.org'>fabio@laborautonomo.org</a>
</p>
{% endblock %}