{% extends "base.twig" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $.ajax({
        url         : '/api/get-repositories',
        dataType    : 'json',
        success     : function(data) {
            obj = data[Math.floor((Math.random()*data.length-1)+1)];
            console.log(obj);
            html = "<h3>" + obj.name + "</h3> <p>" + obj.description + "</p>";
            html +="<p><a href='" + obj.html_url + "' target='_blank'>{{'ver detalhes'|trans}}</a> &nbsp; | &nbsp; <a href='{{'projetos'|trans}}'>{{'outros projetos'|trans}}</a></p>";
            
            $("#aside-projects").html(html);
        },
        complete    : function(jqXHR,textStatus) {
            $("#aside-projects").fadeIn(1500);
        }
    });
</script>
{% endblock %}

{% block content %}
<header><h2>{{'Sobre'|trans}}</h2></header>
<p>
    {{'Espaço laboratorial para desenvolvimento de aplicações e websites, utilizando prioritariamente soluções codigo-aberto.'|trans}}
</p>

<header><h2>{{'Repositórios'|trans}}</h2></header>
<p>
    <a class='ico github' href='http://github.com/laborautonomo' target='_blank' title="{{'Repositórios'|trans}}">GitHub</a>
</p>

<header><h2>{{'Contato'|trans}}</h2></header>

<form action="#" method="post">
    
    {{ form_widget(form) }}
    
    <button type="submit">{{'Enviar mensagem'|trans}}</button>  
</form>

<p>{{'ou através do e-mail'|trans}}:</p>
<a class='ico mail' href='mailto:fabio@laborautonomo.org'>fabio@laborautonomo.org</a>
{% endblock %}