{% extends "base.twig" %}

{% block head %}
<link rel="stylesheet" href="/css/projects.css" type="text/css" charset="utf-8"/>
{% endblock %}

{% block content %}
<article class="main-article">
    <header class="projects">
        <h2>
            {% if param is defined %}
                <a href="/projects" title="{{'ver todos os projetos'|trans}}">{{'Projetos'|trans}}</a> / {{param}}
            {% else %}
                {{'Projetos'|trans}}
            {% endif %}
        </h2>
    </header>
    
    <hr/>
    {% for obj in projects %}
        <a href="/projects/{{ obj.name }}" title="{{'ver detalhes'|trans}}">
            <div class="item-project">
                <h3>{{ obj.name }}</h3>
                <p>{{ obj.description }}</p>
            </div>
        </a>
        <hr/>
    {% endfor %}
</article>

<aside class="project-tags">
    {% for lang in languages %}
        {{ lang|raw }} 
    {% endfor %}
</aside>
{% endblock %}